@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:
        YuGothic,
        /* Mac用 */
        'Yu Gothic',
        /* Windows用 */
        sans-serif;
    -webkit-appearance: none;
}

#container {
    overflow: hidden;
}
